/*
 * @name Solarized
 * @author Axorax#5033
 * @version 1.0.0
 * @source https://github.com/Axorax/betterdiscord-solarized-theme
 * @website https://axorax.github.io/betterdiscord-solarized-theme
 * @patreon https://patreon.com/axorax
 * @description Solarized theme for Discord
 * @authorId 1023153441624821791
 * @invite nKUFghjXQu
*/

/* discord logo in server icon bar */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: #268bd2;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub svg path, .wrapper-3kah-n:hover .childWrapper-1j_1ub svg path {
  fill: #fdf6e3;
}

.homeIcon-r0w4ny path {
  fill: #eee8d5;
}

.childWrapper-1j_1ub {
  background: #001a20;
}

/* Side server icon bar */
.scroller-3X7KbA {
  background: #002B36;
}
/* channel scroll, user pfp area thing */
.scroller-1ox3I2, .header-3OsQeK {
  background: rgb(1, 34, 43);
}

.container-YkUktl {
  background: rgb(7, 28, 34);
}

/* chat content */
.chatContent-3KubbW {
  background: #002b3673 !important;
}
.scroller-kQBbkU::-webkit-scrollbar {
  width: 10px;
}
.scroller-kQBbkU::-webkit-scrollbar-track {
  background: #00323f;
}
.scroller-kQBbkU::-webkit-scrollbar-thumb {
  background: #000c0f;
}

.form-3gdLxP::before {
  background: #002b3673 !important;
}

/* member bar */
.members-3WRCEx, .membersWrap-3NUR2t, .layout-1qmrhw, .member-2gU6Ar {
  background: #073642;
  border-color: #073642;
}

.username-u-ebrn {
  color: #fbf8ef;
}

.markup-eYLPri {
  color: #fffefa;
}

.username-h_Y3Us {
    color: #fffdf9;
}

/* top bar */
.title-31SJ6t, .children-3xh0VB::after {
  background: #073642 !important;
}

/* top search bar */
.searchBar-jGtisZ {
    background: #061b20;
}

/* chat box */
.scrollableContainer-15eg7h {
  background: #061b20;
}

.title-31SJ6t svg path, .contents-3ca1mk svg path,
.scrollableContainer-15eg7h svg path, .sprite-2lxwfc {
  filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important;
}

.circleIconButton-1VxDrg {
  background: #073642;
}

.circleIconButton-1VxDrg svg path {
filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important;
}

/* settings menu */
.sidebarRegionScroller-FXiQOh {
  background: #002b36;
}

.contentRegionScroller-2_GT_N {
  background: #073642;
}

.closeButton-PCZcma, .keybind-13vtq8, .iconContainer-6pgShY svg path {
  filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important;
}

/* user profile popout */
.userPopoutInner-1hXSeY, .addButton-1_dZYu, .container-2O1UgZ {
  background: #002b36;
}

.userPopoutOverlayBackground-dKOOda {
  background: #073642	;
}

.inner-2pOSmK {
      background: #061b20;
}


/* frnd list */
.scroller-WSmht3, .searchBar-3TnChZ, .quickswitcher-pKcM9U {
  background: #01222B;
}

.scroller-kQBbkU, .peopleColumn-1wMU14 {
  background: #1E323B;
}

.searchBarComponent-3N7dCG, .input-3r5zZY {
  background: #061b20 !important;
}

.contentDefault-17ewQQ,
.contentUnread-1_MVDK,
.scroller-2qwVWY {
  background: #073642;
}

.scroller-2qwVWY::-webkit-scrollbar,
.peopleList-2VBrVI::-webkit-scrollbar {
  width: 10px;
}
.scroller-2qwVWY::-webkit-scrollbar-track,
.peopleList-2VBrVI::-webkit-scrollbar-track {
  background: #00323f;
}
.scroller-2qwVWY::-webkit-scrollbar-thumb,
.peopleList-2VBrVI::-webkit-scrollbar-thumb {
  background: #000c0f;
}

.layerContainer-2v_Sit > div:first-child {
  background: #586e75c3 !important;
}

/* create server */
.container-1Lk8p7 {
  background: #002b36;
  box-shadow: none!important;
}

.container-1Lk8p7 > div:nth-child(2n), .focusLock-2tveLW {
  background: #002b36 !important;
  color: #fff!important;
}

.footerSeparator-VzAYwb {
  background: #073642;
    color: #fff!important;
}

.defaultColor-24IHKz {
  color: #fff !important;
}

.container-x8Y1ix {
  background: #073642;
}

.container-ZMc96U, .scroller-hE2gWq {
  background: #073642!important;
}

.itemCard-3Etziu {
  background: #002b36;
}

.section-3G9aLW {
  background: #073642;
}

.actionButton-3-B2x- {
  background: #073642;
  border: 1px solid #002b36;
}

.actionButton-3-B2x- svg, .linkButtonIcon-7rsZcu, .scroller-WSmht3 svg path {
  filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important;
}

.overflow-1wOqNV,
.name-2m3Cms,
.username-3JLfHz {
  color: #8ad9ec !important;
}

.activityText-ev7Z1T, .text-MPIeXO {
    color: #6aabbb;
}

.numberBadge-37OJ3S {
  color: #f2fcff;
  background: #249bb9 !important;
}

.offerBadge-1KDtMz {
  color: #f2fcff !important;
  background: linear-gradient(to right, #249bb9,#268bd2);
}

.item-2LIpTv {
  background: #00b9e7;
}

.container-ZMc96U svg path {
filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important;
}

.selected-g-kMVV {
  background: #000c0f;
}

.sidebar-1tnWFu {
  background: #01222B;
}

.scroller-3j5xK2 {
  background: #073642;
}

.card-2TuZPZ {
    background: #01222B !important;
}

.mention  {
  background: #0084a569 !important;
  padding: 4px!important;
  border-radius: 6px!important;
  font-size: 15.5px;
}

.timestamp-p1Df1m {
  color: #7be5ff69 !important;
}

.scroller-1ox3I2 svg path, .addButtonIcon-3rJeaD {
 filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important; 
}

.name-28HaxV {
    color: #8dfbff !important;
}

.scroller-1bVxF5, .selected-1GtAC5 {
  background: #002b36;
}

.scroller-1bVxF5 svg {
  filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important; 
}

.item-3XjbnG {
  color: #acceff !important;
}

.item-3XjbnG:hover {
  background: #268bd2 !important;
    color: #fff !important;
}

.selected-g-kMVV {
  background: rgba(151, 158, 188, 0.167) !important;
  color: rgb(164, 180, 255) !important;
}

.addFriend-emTWY1 {
  background-color: #268bd2 !important;
  color: #fff !important;
}

.privateChannelRecipientsInviteButtonIcon-1ObKXK, .headerText-1qIDDT {
  filter: invert(38%) sepia(95%) saturate(403%) hue-rotate(161deg) brightness(106%) contrast(98%) !important; 
}

.divider-IqmEqJ {
  background: rgb(84, 84, 251) !important;
}

.divider-IqmEqJ .unreadPill-3nEWYM {
  background: rgb(84, 84, 251);
}

.divider-IqmEqJ .unreadPill-3nEWYM path {
  fill: rgb(84, 84, 251) !Important
}

.container-BZUZfa {
    background: #002b3673 !important;
}

.bigPerkCard-1uwmWV {
  background: #00b9e7 !important;
}

.smallPerkCard-2sX_-- {
  background: #215cca !important;
}

.circleIconButton-1VxDrg:hover {
  background: #0b6792 !important;
}

.info-3pQQBb .text-xs-normal-3SiVjE:last-child:after {
  content: '\ Theme: solarized v1.0.0';
  position: absolute;
  margin-top: 2rem;
  white-space: nowrap;
  margin-left: -10.1rem;
  color: #fff;
  border-radius: 5px;
  padding: .2rem .5rem;
  background: #1459fa !important;
}

.messages-23can0 {
  background: #1459fa62 !important;
}